@import "tailwindcss";

@plugin "@tailwindcss/typography";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/cerberus";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

:root,
html,
[data-theme] {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.heading-link {
  text-decoration: none;
}

.heading-link:hover {
  text-decoration: underline;
}
